<div id="pending_zenkai" class="container">
  <div class="page-header">
    <h1>Pending Tickets</h1>
  </div>
        <% @current_page.pending.each do |ticket| %>
           <div class="panel panel-primary">
              <div class="panel-heading">
                <%= ticket['name'] %>
              </div>
              <div class="panel-body">Description</div>
            </div>
       <% end%>

</div>
<div id="info" data-time="<%= @current_page.time %>" data-name="<%= @current_page.name %>"></div>
